/* common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.left{
    float: left;
}

.flex{
    display: flex;
}

.column {
    flex-direction: column;
}

html{
    scroll-behavior: smooth;
}

.between{
    justify-content: space-between;
}

.line-height-90{
    line-height: 90px;
}

.border-radius-50{
    border-radius: 50%;
}

.wrap{
    flex-wrap: wrap;
}
/* common */
/* nav */
.container-main {
    height: calc(100vh - 120px);
    width: 100%;
}

nav{
    height: 100%;
    width: 250px;
    justify-content: space-between;
    background-color: black;
}

.left a{
    color: grey;
    font-size: 24px;
}

.left a:hover{
    color: white;
}

.logo{
    padding-left: 20px;
    padding-top: 20px;
}

.logo img{
    height: 40px;
    object-fit: cover;
}

.logo-sm{
    display: none;
}

.top{
    margin: 20px 0;
}

.top li{
    padding-left: 20px;
    margin-bottom: 5px;
}

.top ul li a img{
    vertical-align: middle;
}

.top span{
    color: grey;
    font-size: 24px;
}

.top span:hover{
    color: white;
}

.border-green:hover{
    border-left: 1px solid rgb(173,255,47);
}

.nav-top a,
.nav-bottom a{
    text-decoration: none;
}

.nav-top ul li,
.nav-bottom ul li{
    list-style: none;
}

.top ul li img{
    height: 25px;
}

.center h3{
    color: white;
    margin-bottom: 12px;
}

.padding-l{
    padding-left: 20px;
}

.center .plus{
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    background-color: grey;
    margin-bottom: 10px;
    color: black;
    margin-right: 10px;
}

.center .padding-l .plus:hover{
    background-color: white;
}

.center li{
    padding: 5px 0 5px 20px;
    margin-bottom: 10px;
}

.nav-bottom {
    margin-bottom: 10px;
    padding-left: 20px;
}

.nav-bottom .download-app img{
    height: 25px;
    margin-right: 5px;
}

.profile-img{
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: rgb(163,163,163);
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
}

.nav-bottom .user img{
    height: 45px;
    margin-right: 5px ;
}

.nav-bottom .download-app img{
    vertical-align: middle;
}

.nav-bottom hr{
    width: 94%;
    margin: 10px 0;
}

.user span{
    font-weight: 800;
    color: white;
}
/* nav */
/* main-top */
.container{
    height: calc(100vh - 120px);
    width: calc(100% - 250px);
    background-color: rgb(20,25,34);
}

.main-top{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100px;
    width: calc(100% - 250px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.upgrade{
    border: 1px solid white;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 50px;
    color: white;
    background-color: black;
    font-weight: 700;
    font-size: 20px;
} 

.upgrade:hover{
    transform:scale(1.1);
}
/* main-top */
/* content */
.content{
    height: calc(100vh - 120px);
    width: 100%;
    overflow-y: auto;
}

.category{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 150px;
    color: grey;
}

.category h3{
    margin: 0 15px;
}

.border-bot:hover{
    border-bottom: 1px solid rgb(173,255,47); 
    cursor: pointer;
}

.content h1{
    color: white;
    margin: 30px 0 30px 20px;
    font-weight: 600;
    font-size: 32px;
}

.album{
    margin: 0 20px 20px 20px;
    width: 335px;
}

.picture{
    position: relative;
}

.picture .play{
    display: none;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 500;
}

.picture:hover img{
    filter: brightness(50%);
}

.picture:hover  .play{
    display: block;
    cursor: pointer;
}

.picture img{
    width: 335px;
    height: 335px;
}

.title{
    color: white;
    text-align: center;
    margin: 20px;
    font-size: 22px;
}

.subtitle{
    color: grey;
    text-align: center;
    font-size: 18px;
}

.create{
    color: white;
    margin: 20px;
    font-weight: 600;
    font-size: 32px;
}

.create-sub{
    color: grey;
    margin: 0 0 30px 20px;
}

.picture:hover{
    box-shadow: rgba(0, 0, 0, 0.9);
    cursor: pointer;
}
/* content */
/* footer */
footer{
    height: 120px;
    width: 100%;
    background-color: rgb(40,40,40);
    position: fixed;
}

.song{
    width: 250px;
    height: 120px;
    align-items: center;
    justify-content: space-around;
}

.song img{
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}

.song h3{
    color: white;
}

.song h4{
    color: grey;
}

.song h4:hover{
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.icon{
    margin-left: 15px;
}

.icon i{
    color: grey;
    font-size: 1.3em;
    cursor: pointer;
}

.icon i:hover{
    color: white;
}

.duration{
    height: 100%;
    width: 800px;
    justify-content: space-around;
}

.icon-top{
    width: 30%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.icon-top .play:hover{
    transform:scale(1.1);
}

.duration i{
    color: white;
    font-size: 1.5em;
}

.duration .fa-play-circle{
    font-size: 2.5em;
    font-weight: 500;
}

footer i{
    font-size: 1.3em;
}

.progress{
    align-items: center;
    justify-content: space-around;
}

.progress span{
    color: white;
}

.progress .progression-bar,
.settings .progression-bar{
    width: 70%;
    min-width: 150px;
    height: 5px;
    background-color: grey;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.loading{
    width: 15%;
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.progression-bar:hover .loading{
    background-color: rgb(173,255,47);
}

.circle{
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: white;
}

.progression-bar:hover .circle{
    display: block;
}

.settings{
    width: 400px;
    justify-content: space-around;
    align-items: center;
}

.settings i{
    color: white;
    cursor: pointer;
}
/* footer */