*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

.left{
    float: left;
}

.flex{
    display: flex;
}

.column {
    flex-direction: column;
} 

/* header */
.container-main {
    height: calc(100vh - 90px);
    width: 100%;
}

nav{
    height: 100%;
    width: 230px;
    justify-content: space-between;
    background-color: black;
}

.left a{
    color: grey;
    font-size: 20px;
}

.left a:hover{
    color: white;
}

.logo{
    padding-left: 20px;
    padding-top: 20px;
}

.logo img{
    height: 40px;
    object-fit: cover;
}

.top{
    margin: 20px 0;
}

.top li{
    padding-left: 20px;
    margin-bottom: 5px;
}

.border-green:hover{
    border-left: 1px solid rgb(173,255,47);
}

.nav-top a,
.nav-bottom a{
    text-decoration: none;
}

.nav-top ul li,
.nav-bottom ul li{
    list-style: none;
}

.top ul li img{
    height: 25px;
}

.center h3{
    color: white;
    margin-bottom: 12px;
}

.padding-l{
    padding-left: 20px;
}

.center .plus{
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 30px;
    background-color: rgb(163,163,163);
    margin-right: 5px;
    margin-bottom: 10px;
    color: black;
}

.center li{
    padding: 5px 0 5px 20px;
    margin-bottom: 10px;
}

.nav-bottom {
    margin-bottom: 10px;
    padding-left: 20px;
}

.nav-bottom .download-app img{
    height: 25px;
    margin-right: 5px;
}

.picture{
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: rgb(163,163,163);
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 5px;
}

.nav-bottom .user img{
    height: 45px;
    margin-right: 5px ;
}

.nav-bottom hr{
    width: 94%;
    margin: 10px 0;
}

.user span{
    font-weight: 800;
    color: white;
}
/* header */
/* main */
.container{
    height: calc(100vh - 90px);
    width: calc(100% - 230px);
    background-color: rgb(20,25,34);
}

.main-top{
    background-color: rgba(0, 0, 0, 0.9);
    height: 100px;
    width: calc(100% - 230px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
}

.content{
    height: 100%;
    width: 100%;
}

.upgrade{
    border: 1px solid white;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px 50px;
    color: white;
    background-color: black;
    font-weight: 700;
    font-size: 20px;
} 

/* footer */
.play{
    height: 90px;
    width: 100%;
    background-color: rgb(40,40,40);
}

